.voterreg-info {
  background: #0271c0;
  padding: 1rem;
  color: #fff;
  border-radius: 6px;
  max-width: 600px;
}
.voterreg-info span {
  margin-right: 10px;
}

.inlineloaderwrapper {
  position: relative;
}
.inlineloaderwrapper .input-inline-loader {
  top: 48%;
  right: 22px;
}

.cerdatefield {
  position: relative;
  background: #fff;
  left: -2px;
  padding-left: 2px;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.officialSection {
  margin-top: 1rem;
}