.field-with-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.field-with-btn .k-rounded-md {
  border-radius: 4px 0px 0px 4px;
}
.field-with-btn > .k-button {
  min-height: 39.5px;
  top: -1px;
  border-radius: 0px 4px 4px 0px !important;
}