.sidePanel-todo-reminders .sidePanel_body {
  max-height: calc(100vh - 315px);
  overflow: auto;
}
@media (max-height: 900px) {
  .sidePanel-todo-reminders .sidePanel_body {
    max-height: calc(100vh - 175px);
  }
}
.sidePanel-todo-reminders .sidePanel_body.todo-list .due-main-heading {
  font-size: 1rem !important;
  margin: 10px 14px 8px;
}