
<common-loader-component></common-loader-component>
<a href="#main-content" class="skip_content">Skip to main content</a>
<h1 hidden>CMS</h1>
<header class="app-l-header" kendoTooltip>
  <div class="header_menu-left_most_section"  >
    <button  aria-label="Mobile Menu Icon" class="mobile-menu-icon" (click)="openMobileMenu()" *ifPermission='["Layout_Logo_View_Only"]'> <span class="material-icons">
      menu
      </span></button>
    <div class="header-logo" [routerLink]="['/']" *ifPermission='["Layout_Logo_View_Only"]'>
     
      <img src="./../../../assets/images/ORCares-Logo.png"  alt="ORCares Logo"  class="branding-logo" />
    </div>
  </div>

  <ng-content select="[search]" kendoRippleContainer  *ifPermission='["Layout_Search_View_Only"]'></ng-content>
  <div class="header-menu">
    <system-config-forms-and-documents  *ifPermission='["Layout_Documents_View_Only"]'></system-config-forms-and-documents >
    <productivity-tools-notification-panel  *ifPermission='["Layout_Notifications_View_Only"]'
    (isLoadReminderAndNotificationEvent)="onloadReminderAndNotificationsGrid($event)"
    [notificationList$]="notificationList$" (onSnoozeReminderEvent)="onSnoozeReminder($event)"
    ></productivity-tools-notification-panel>
    <common-login-status></common-login-status>
  </div>
</header>

<section class="app-l-container" id="main-content" [ngClass]="{'mobile_menu-opened': isOpenMobileMenu}"  kendoRippleContainer>
  <section
    mode="side"
    #sidenav
    opened
    position="start"
    class="app-l-sidebar"
    [class.menuToggled]="isSideMenuToggled"  
  >
    <div class="drawer-inner-container"  *ifPermission='["Layout_Menu_View_Only"]'>  
      <div class="sidebar-hamburger">
        <button
          (click)="onSideMenuToggleClicked()"
          class="sidebar-hamburger_button"
          kendoButton
          look="flat"
          aria-label="Main menu expand and collapse"
   
        >
          <span
            class="material-icons sidebar-hamburger_icon-left"
            aria-label="collapse side navigation"
            aria-hidden="true"
          >
            chevron_left
          </span>
        </button>
      </div>   
      <cms-side-navigation ></cms-side-navigation>

      <!-- Selector for active sessions -->
      <case-management-last-visited-cases ></case-management-last-visited-cases>
    </div>
  </section>
  <section class="app-l-body-container"   role="main" id="main" [class.menuSectionToggled]="isSideMenuToggled">
    <section class="app-l-body" kendoTooltip>
      <ng-content select="[body]" ></ng-content>
    </section>
  </section>
</section>
<div kendoDialogContainer></div>
<router-outlet name="notifications"></router-outlet>
