
<common-loader-component></common-loader-component>

<h1 hidden>CMS</h1>
<section class="app-l-header" role="header">
  <div class="headermenu-leftmostsection">
    <button class="mobile-menu-icon" (click)="openMobileMenu()"> <span class="material-icons">
      menu
      </span></button>
    <div class="header-logo" [routerLink]="['/']">
     
      <img src="./../../../assets/images/care-assist.png"  alt="Logo of company"  class="branding-logo" />
    </div>
  </div>

  <ng-content select="[search]" kendoRippleContainer></ng-content>
  <div class="header-menu">
    <system-config-forms-and-documents></system-config-forms-and-documents>
    <productivity-tools-notification-panel></productivity-tools-notification-panel>
    <common-login-status></common-login-status>
  </div>
</section>

<section class="app-l-container" [ngClass]="{'mobilemenu-opened': isOpenMobileMenu}"  kendoRippleContainer role="main">
  <section
    mode="side"
    #sidenav
    opened
    position="start"
    class="app-l-sidebar"
    [class.menuToggled]="isSideMenuToggled"
  >
    <div class="drawer-inner-container" role="menuitem">
      <div class="sidebar-hamburger">
        <button
          (click)="onSideMenuToggleClicked()"
          class="sidebar-hamburger_button"
          kendoButton
          look="flat"
          aria-label="side navigation"
        >
          <span
            class="material-icons sidebar-hamburger_icon-left"
            aria-label="collapse side navigation"
            aria-hidden="true"
          >
            chevron_left
          </span>
        </button>
      </div>
      <cms-side-navigation></cms-side-navigation>

      <!-- Selector for active sessions -->
      <case-management-last-visited-cases></case-management-last-visited-cases>
    </div>
  </section>
  <section class="app-l-body-container">
    <section class="app-l-body">
      <ng-content select="[body]"></ng-content>
    </section>
  </section>
</section>
