<ul class="sidebar-menu" aria-label="sidebar menu">
  <li
    aria-label="sidebar menu item"
    class="sidebar-menu_items"
    [routerLinkActive]="['active-item']"
    [routerLink]="['/dashboard']"
    (click)="onSubMenuClicked('Home')"
  >
    <span
      class="material-icons sidebar-menu_icon"
      aria-label="home"
      aria-hidden="true"
    >
      home
    </span>
    <label class="sidebar-menu_label" aria-label="home">Home</label>
  </li>
  <li
    class="sidebar-menu_items"
    [routerLinkActive]="['active-item']"
    [routerLink]="['/case-management/cases']"
    (click)="onSubMenuClicked('Cases')"
    aria-label="sidebar menu item"
  >
    <span
      class="material-icons sidebar-menu_icon"
      aria-label="cases"
      aria-hidden="true"
    >
      people
    </span>
    <label class="sidebar-menu_label" aria-label="cases">Cases</label>
  </li>
  <li
    class="sidebar-menu_items with-sub-menu"
    [routerLinkActive]="['active-item']"
    (click)="onSubMenuClicked('Productivity Tools')"
    aria-label="sidebar menu item"
  >
    <span class="sub-menu-item">
      <span
        class="material-icons sidebar-menu_icon"
        aria-label="productivity tools"
        aria-hidden="true"
      >
        task
      </span>
      <label class="sidebar-menu_label" aria-label="productivity tools"
        >Productivity Tools <span class="sidebar-menu_label-badge">22</span>
      </label>
    </span>
    <ul
      class="sidebar-sub-menu"
      *ngIf="isProductivityMenuActivated"
      aria-label="sidebar sub menu"
    >
      <li
        class="sidebar-sub-menu_items"
        [routerLinkActive]="['active-item']"
        [routerLink]="['/productivity-tools/approval']"
        aria-label="sidebar sub menu item"
      >
        Pending Approvals (12)
      </li>
      <li
        class="sidebar-sub-menu_items"
        [routerLinkActive]="['active-item']"
        [routerLink]="['/productivity-tools/todo-items']"
        aria-label="sidebar sub menu item"
      >
        To Do Items (7)
      </li>
      <li
        class="sidebar-sub-menu_items"
        [routerLinkActive]="['active-item']"
        [routerLink]="['/productivity-tools/todo-items']"
        aria-label="sidebar sub menu item"
      >
        Direct Messages (3)
      </li>
    </ul>
  </li>
  <li
    class="sidebar-menu_items"
    [routerLinkActive]="['active-item']"
    [routerLink]="['/financial-management/vendor']"
    (click)="onSubMenuClicked('Financial Management')"
    aria-label="sidebar menu item"
  >
    <span
      class="material-icons sidebar-menu_icon"
      aria-label="financial management"
      aria-hidden="true"
    >
      monetization_on
    </span>
    <label class="sidebar-menu_label" aria-label="financial management"
      >Financial Management</label
    >
  </li>
  <li
    class="sidebar-menu_items"
    [routerLinkActive]="['active-item']"
    [routerLink]="['/system-config/users']"
    (click)="onSubMenuClicked('System Config')"
    aria-label="sidebar menu item"
  >
    <span
      class="material-icons sidebar-menu_icon"
      aria-label="system configuration"
      aria-hidden="true"
    >
      settings
    </span>
    <label class="sidebar-menu_label" aria-label="system configuration"
      >System Configuration</label
    >
  </li>
</ul>
