<ul class="sidebar-menu" aria-label="sidebar menu">
  <li
    aria-label="sidebar menu item home"
    class="sidebar-menu_items"
    [routerLinkActive]="['active-item']"
    [routerLink]="['/dashboard']"
    (click)="onSubMenuClicked('Home')"
  >
    <span
      class="material-icons sidebar-menu_icon"
      aria-label="home"
      aria-hidden="true"
    >
      home
    </span>
    <span class="sidebar-menu_label" aria-label="home" aria-hidden="true" >Home</span>
  </li>
  <li
  aria-label="sidebar menu item clients"
    class="sidebar-menu_items"
    [routerLinkActive]="['active-item']"
    [routerLink]="['/case-management/cases']"
    (click)="onSubMenuClicked('Cases')"
 
  >
    <span
      class="material-icons sidebar-menu_icon"
      aria-label="Clients"
      aria-hidden="true"
    >
      people
    </span>
    <span class="sidebar-menu_label"    aria-label="Clients"  aria-hidden="true" >Clients</span>
  </li>
  <li
  aria-label="sidebar menu item Productivity Tools"
    class="sidebar-menu_items with-sub-menu"
    [routerLinkActive]="['active-item']"
    (click)="onSubMenuClicked('Productivity Tools')"
 
  >
    <span class="sub-menu-item">
      <span
        class="material-icons sidebar-menu_icon"
        aria-label="productivity tools"
        aria-hidden="true"
      >
        task
      </span>
      <span class="sidebar-menu_label"      aria-label="productivity tools"    aria-hidden="true"
        >Productivity Tools <span class="sidebar-menu_label-badge">22</span>
      </span>
    </span>
    <ul
      class="sidebar-sub-menu"
      *ngIf="isProductivityMenuActivated"
      aria-label="sidebar sub menu item Productivity Tools"
    >
      <li
      aria-label="sub menu item Productivity Tools/ Pending Approvals"
        class="sidebar-sub-menu_items"
        [routerLinkActive]="['active-item']"
        [routerLink]="['/productivity-tools/approval']"
      
      >
        Pending Approvals (12)
      </li>
      <li
        class="sidebar-sub-menu_items"
        [routerLinkActive]="['active-item']"
        [routerLink]="['/productivity-tools/todo-items']"
        aria-label="sub menu item Productivity Tools/To Do Items "
      >
        To Do Items (7)
      </li>
      <li
        class="sidebar-sub-menu_items"
        [routerLinkActive]="['active-item']"
        [routerLink]="['/productivity-tools/todo-items']"
        aria-label="sub menu item Productivity Tools/Direct Messages"
      >
        Direct Messages (3)
      </li>
    </ul>
  </li>
  <li
    class="sidebar-menu_items"
    [routerLinkActive]="['active-item']"
    [routerLink]="['/financial-management/vendor']"
    (click)="onSubMenuClicked('Financial Management')"
    aria-label="sidebar menu item Financial Management"
  >
    <span
      class="material-icons sidebar-menu_icon"
      aria-label="financial management"
      aria-hidden="true"
    >
      monetization_on
    </span>
    <span class="sidebar-menu_label" aria-label="financial management"    aria-hidden="true"
      >Financial Management</span
    >
  </li>
  <li
    class="sidebar-menu_items"
    [routerLinkActive]="['active-item']"
    [routerLink]="['/system-config/users']"
    (click)="onSubMenuClicked('System Config')"
    aria-label="sidebar menu item settings"
  >
    <span
      class="material-icons sidebar-menu_icon"
      aria-label="system configuration"
      aria-hidden="true"
    >
      settings
    </span>
    <span class="sidebar-menu_label" aria-label="system configuration"    aria-hidden="true"
      >System Configuration</span
    >
  </li>
</ul>
