$bg: white;
$color: #ef5350;
$size: 4rem;

/* sorry for the scrambled mess */

.skip_content{
  position: fixed;
  left: -200px;
  top: -200px;
  z-index: -1;
}
.forbidden_wrapper {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;

  .forbidden_container {
    max-width: 400px;
  
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    img{
        max-width: 100%;
    }
    h1{
        font-size: 3rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8);
        margin: 2rem 0;
        text-transform: capitalize;
       
    }
    p{
        color: rgba(0, 0, 0, 0.6);
    }
  }
}

.forbidden-sign {
  margin: auto;
  width: $size + ($size / 6);
  height: $size + ($size / 6);

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color;

  animation: grow 1s forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1);
  }
}

.forbidden-sign::before {
  position: absolute;
  background-color: $bg;
  border-radius: 50%;

  content: '';

  width: $size;
  height: $size;
  transform: scale(0);

  animation: grow2 0.5s forwards 0.5s;
}
@keyframes grow2 {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* slash */
.forbidden-sign::after {
  content: '';
  z-index: 2;

  position: absolute;

  width: $size;
  height: $size/12;
  transform: scaleY(0) rotateZ(0deg);

  background: $color;
  animation: grow3 0.5s forwards 1s;
}
@keyframes grow3 {
  from {
    transform: scaleY(0) rotateZ(0deg);
  }

  to {
    transform: scaleY(1) rotateZ(-45deg);
  }
}
